.base {
  color: white;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.xs {
  font-size: 0.75rem;
}

.sm {
  font-size: 0.875rem;
}

.md {
  font-size: 1rem;
}

.lg {
  font-size: 1.125rem;
}

.xl {
  font-size: 1.25rem;
}

.2xl {
  font-size: 1.5rem;
}

.3xl {
  font-size: 1.875rem;
}

.4xl {
  font-size: 2.25rem;
}
