.Tag-solid {
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
  background-color: transparent;
  color: black;
  background-color: #ff681a;
  border: 1px solid #ff681a;
}

.Tag-outlined {
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
  background-color: transparent;
  color: black;
  background-color: transparent;
  border: 1px solid #ff681a;
}
